<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Browser1" value="Chrome" />
        <add key="Browser2" value="Firefox" />
        <add key="BaseUrl" value="https://www.google.com/" />
        <add key="ElementTimeOutMs" value="1000" />
    </appSettings>
</configuration>
